/* Шапка сайта */
:root {
  --brand-color: #212121;
  --background-color: #ffffff;
  --accent-color: #2196f3;
  --text-color: #757575;
  --bgsecondary-color: #2f303a;
  --bgbutton-color: #f5f4fa;
  --bgportfolio-color: #eeeeee;
  --mailtel-color: rgba(255, 255, 255, 0.6);
}
/* Утилиты */
button {
  padding: 0;
  margin: 0;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: var(--brand-color);
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* шапка */
.header {
  border-bottom: 1px solid #ececec;
}
.headerbox {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.header-nav-item:not(:last-child) {
  margin-right: 50px;
}
.header {
  background-color: var(--background-color);
}
.header-nav-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-nav-logo,
.footer-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}
.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.header-list {
  display: flex;
  margin-left: auto;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-mail,
.header-tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* Секция герой */
.hero {
  text-align: center;
}
.hero,
.footer {
  background-color: var(--bgsecondary-color);
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;

  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  padding: 10px 32px;
  margin-bottom: 200px;

  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
}
/* преимущество*/
.advantage {
  background-color: var(--background-color);
}
.advantage-list {
  display: flex;
}
.advantage-subtitle {
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-item:not(:last-child) {
  margin-right: 30px;
}
.advantage-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* чем занимаемся */
.working {
  background-color: var(--background-color);
  padding-top: 0px;
}

.working-list {
  display: flex;
  justify-content: space-between;
}
.working-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}
/* команда */
.team {
  background-color: var(--bgbutton-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.team-text {
  margin-bottom: 30px;

  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-item {
  background-color: var(--background-color);
}
/* Подвал страницы */
.address {
  padding-bottom: 60px;
}
.footer-link {
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--mailtel-color);
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
/* Портфолио */
.portfolio {
  background-color: var(--background-color);
}
.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button .list:not(:last-child) {
  margin-right: 9px;
}
.port {
  color: var(--accent-color);
}
.portfolio-btn {
  padding: 6px 22px;

  background-color: var(--bgbutton-color);
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  border: 0;
  border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.Current-button {
  background-color: var(--accent-color);
  color: var(--background-color);
}
