/* Шапка сайта */
:root {
  --brand-color: #212121;
  --background-color: #ffffff;
  --accent-color: #2196f3;
  --text-color: #757575;
  --bgsecondary-color: #2f303a;
  --bgbutton-color: #f5f4fa;
  --bgportfolio-color: #eeeeee;
  --mailtel-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: var(--brand-color);
}
.header {
  background-color: var(--background-color);
}
.header-nav-logo,
.footer-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* Секция герой */
.hero {
  text-align: center;
}
.hero,
.footer {
  background-color: var(--bgsecondary-color);
}
.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
}
/* преимущество*/
.advantage {
  background-color: var(--background-color);
}
.advantage-subtitle {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* чем занимаемся */
.working {
  background-color: var(--background-color);
}
.working-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}
/* команда */
.team {
  background-color: var(--bgbutton-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-item {
  background-color: var(--background-color);
}
/* Подвал страницы */
.footer-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--mailtel-color);
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
/* Портфолио */
.portfolio {
  background-color: var(--background-color);
}
.port {
  color: var(--accent-color);
}
.portfolio-btn {
  background-color: var(--bgbutton-color);
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.Current-button {
  background-color: var(--accent-color);
  color: var(--background-color);
}
